<p id="notice"><%= notice %></p>

<h2>Moves</h2>
<%= render @move %>

<h2>Add a move:</h2>
<%= render "moves/form" %>

<%= link_to 'Edit', edit_move_path(@game) %> |
<%= link_to 'Back', moves_path %>
