<%= form_for(@player) do |f| %> 
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :race %><br />
    <%= f.text_field :race %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>