<h1>Listing Players</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Race</th>
    <th>Stats</th>
    <th>Health</th>
  </tr>
  
<% @players.each do |player| %>
  <tr>
    <td><%= player.name %></td>
    <td><%= player.race %></td>
    <td><%= player.stats.to_s %></td>
    <td><%= player.health.to_s %></td>
    <td><%= link_to 'Show', player %></td>
    <td><%= link_to 'Destroy', player, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Player', new_player_path %>
