  <p>
    <b>Name:</b>
    <%= room.name %>
  </p>
 
  <p>
    <b>Description:</b>
    <%= room.description %>
  </p>
  <p>
    <b>Entrance:</b>
    <%= room.entrance %>
  </p>
    <p>
    <b>Exit:</b>
    <%= room.exit %>
  </p>
  <p>
    <b>Contents:</b>
    <%= room.contents %>
  </p>
  <hr />
  <p>
</p>